--
-- PostgreSQL database dump
--

\restrict UNAeJ458TymBiwU5qNn7M0YGnRM6K8gBLaD5hAq6Za9uR4e4hYgOJt0Ox1MA6OR

-- Dumped from database version 18.4 (Debian 18.4-1.pgdg12+1)
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: runrush_db_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO runrush_db_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: runrush_db_user
--

CREATE TABLE public.activity_logs (
    id integer NOT NULL,
    user_id integer,
    action text NOT NULL,
    details text,
    "timestamp" text NOT NULL
);


ALTER TABLE public.activity_logs OWNER TO runrush_db_user;

--
-- Name: activity_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: runrush_db_user
--

CREATE SEQUENCE public.activity_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activity_logs_id_seq OWNER TO runrush_db_user;

--
-- Name: activity_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: runrush_db_user
--

ALTER SEQUENCE public.activity_logs_id_seq OWNED BY public.activity_logs.id;


--
-- Name: admin_notes; Type: TABLE; Schema: public; Owner: runrush_db_user
--

CREATE TABLE public.admin_notes (
    id integer NOT NULL,
    target_user_id integer NOT NULL,
    author_id integer NOT NULL,
    note text NOT NULL,
    "timestamp" text NOT NULL
);


ALTER TABLE public.admin_notes OWNER TO runrush_db_user;

--
-- Name: admin_notes_id_seq; Type: SEQUENCE; Schema: public; Owner: runrush_db_user
--

CREATE SEQUENCE public.admin_notes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_notes_id_seq OWNER TO runrush_db_user;

--
-- Name: admin_notes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: runrush_db_user
--

ALTER SEQUENCE public.admin_notes_id_seq OWNED BY public.admin_notes.id;


--
-- Name: badges; Type: TABLE; Schema: public; Owner: runrush_db_user
--

CREATE TABLE public.badges (
    id integer NOT NULL,
    key text NOT NULL,
    name text NOT NULL,
    description text,
    icon_url text,
    criteria_type text NOT NULL,
    criteria_value real NOT NULL
);


ALTER TABLE public.badges OWNER TO runrush_db_user;

--
-- Name: badges_id_seq; Type: SEQUENCE; Schema: public; Owner: runrush_db_user
--

CREATE SEQUENCE public.badges_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.badges_id_seq OWNER TO runrush_db_user;

--
-- Name: badges_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: runrush_db_user
--

ALTER SEQUENCE public.badges_id_seq OWNED BY public.badges.id;


--
-- Name: edit_history; Type: TABLE; Schema: public; Owner: runrush_db_user
--

CREATE TABLE public.edit_history (
    id integer NOT NULL,
    run_id integer NOT NULL,
    user_id integer NOT NULL,
    field_name text NOT NULL,
    old_value text,
    new_value text,
    edited_at text DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.edit_history OWNER TO runrush_db_user;

--
-- Name: edit_history_id_seq; Type: SEQUENCE; Schema: public; Owner: runrush_db_user
--

CREATE SEQUENCE public.edit_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.edit_history_id_seq OWNER TO runrush_db_user;

--
-- Name: edit_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: runrush_db_user
--

ALTER SEQUENCE public.edit_history_id_seq OWNED BY public.edit_history.id;


--
-- Name: friends; Type: TABLE; Schema: public; Owner: runrush_db_user
--

CREATE TABLE public.friends (
    id integer NOT NULL,
    follower_id integer NOT NULL,
    followed_id integer NOT NULL,
    created_at text DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.friends OWNER TO runrush_db_user;

--
-- Name: friends_id_seq; Type: SEQUENCE; Schema: public; Owner: runrush_db_user
--

CREATE SEQUENCE public.friends_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.friends_id_seq OWNER TO runrush_db_user;

--
-- Name: friends_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: runrush_db_user
--

ALTER SEQUENCE public.friends_id_seq OWNED BY public.friends.id;


--
-- Name: runs; Type: TABLE; Schema: public; Owner: runrush_db_user
--

CREATE TABLE public.runs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    date text NOT NULL,
    distance_km real NOT NULL,
    time_min real NOT NULL,
    pace real NOT NULL,
    calories real NOT NULL,
    created_at text DEFAULT CURRENT_TIMESTAMP,
    insight text,
    run_type text DEFAULT 'easy'::text,
    notes text,
    weather_temp real,
    weather_humidity integer,
    weather_wind_kph real,
    weather_condition text,
    weather_emoji text
);


ALTER TABLE public.runs OWNER TO runrush_db_user;

--
-- Name: runs_id_seq; Type: SEQUENCE; Schema: public; Owner: runrush_db_user
--

CREATE SEQUENCE public.runs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.runs_id_seq OWNER TO runrush_db_user;

--
-- Name: runs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: runrush_db_user
--

ALTER SEQUENCE public.runs_id_seq OWNED BY public.runs.id;


--
-- Name: user_badges; Type: TABLE; Schema: public; Owner: runrush_db_user
--

CREATE TABLE public.user_badges (
    id integer NOT NULL,
    user_id integer NOT NULL,
    badge_key text NOT NULL,
    unlocked_at text,
    activity_id integer
);


ALTER TABLE public.user_badges OWNER TO runrush_db_user;

--
-- Name: user_badges_id_seq; Type: SEQUENCE; Schema: public; Owner: runrush_db_user
--

CREATE SEQUENCE public.user_badges_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_badges_id_seq OWNER TO runrush_db_user;

--
-- Name: user_badges_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: runrush_db_user
--

ALTER SEQUENCE public.user_badges_id_seq OWNED BY public.user_badges.id;


--
-- Name: user_stats; Type: TABLE; Schema: public; Owner: runrush_db_user
--

CREATE TABLE public.user_stats (
    id integer NOT NULL,
    user_id integer NOT NULL,
    total_distance_km real DEFAULT 0.0,
    current_streak integer DEFAULT 0,
    best_streak integer DEFAULT 0,
    last_activity_date text,
    updated_at text
);


ALTER TABLE public.user_stats OWNER TO runrush_db_user;

--
-- Name: user_stats_id_seq; Type: SEQUENCE; Schema: public; Owner: runrush_db_user
--

CREATE SEQUENCE public.user_stats_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_stats_id_seq OWNER TO runrush_db_user;

--
-- Name: user_stats_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: runrush_db_user
--

ALTER SEQUENCE public.user_stats_id_seq OWNED BY public.user_stats.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: runrush_db_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    pin text NOT NULL,
    display_name text,
    weight real,
    weekly_goal_km real,
    theme text,
    height real,
    last_login text,
    role text DEFAULT 'user'::text,
    status text DEFAULT 'active'::text,
    email text,
    email_weekly_summary integer DEFAULT 1,
    home_city text,
    home_latitude real,
    home_longitude real
);


ALTER TABLE public.users OWNER TO runrush_db_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: runrush_db_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO runrush_db_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: runrush_db_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: activity_logs id; Type: DEFAULT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.activity_logs ALTER COLUMN id SET DEFAULT nextval('public.activity_logs_id_seq'::regclass);


--
-- Name: admin_notes id; Type: DEFAULT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.admin_notes ALTER COLUMN id SET DEFAULT nextval('public.admin_notes_id_seq'::regclass);


--
-- Name: badges id; Type: DEFAULT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.badges ALTER COLUMN id SET DEFAULT nextval('public.badges_id_seq'::regclass);


--
-- Name: edit_history id; Type: DEFAULT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.edit_history ALTER COLUMN id SET DEFAULT nextval('public.edit_history_id_seq'::regclass);


--
-- Name: friends id; Type: DEFAULT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.friends ALTER COLUMN id SET DEFAULT nextval('public.friends_id_seq'::regclass);


--
-- Name: runs id; Type: DEFAULT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.runs ALTER COLUMN id SET DEFAULT nextval('public.runs_id_seq'::regclass);


--
-- Name: user_badges id; Type: DEFAULT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.user_badges ALTER COLUMN id SET DEFAULT nextval('public.user_badges_id_seq'::regclass);


--
-- Name: user_stats id; Type: DEFAULT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.user_stats ALTER COLUMN id SET DEFAULT nextval('public.user_stats_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: runrush_db_user
--



--
-- Data for Name: admin_notes; Type: TABLE DATA; Schema: public; Owner: runrush_db_user
--

COPY public.admin_notes (id, target_user_id, author_id, note, "timestamp") FROM stdin;
\.


--
-- Data for Name: badges; Type: TABLE DATA; Schema: public; Owner: runrush_db_user
--

COPY public.badges (id, key, name, description, icon_url, criteria_type, criteria_value) FROM stdin;
\.


--
-- Data for Name: edit_history; Type: TABLE DATA; Schema: public; Owner: runrush_db_user
--

COPY public.edit_history (id, run_id, user_id, field_name, old_value, new_value, edited_at) FROM stdin;
\.


--
-- Data for Name: friends; Type: TABLE DATA; Schema: public; Owner: runrush_db_user
--

COPY public.friends (id, follower_id, followed_id, created_at) FROM stdin;
\.


--
-- Data for Name: runs; Type: TABLE DATA; Schema: public; Owner: runrush_db_user
--



--
-- Data for Name: user_badges; Type: TABLE DATA; Schema: public; Owner: runrush_db_user
--

COPY public.user_badges (id, user_id, badge_key, unlocked_at, activity_id) FROM stdin;
1	1	TOTAL_50KM	2026-08-13 14:14:06	\N
2	1	TOTAL_100KM	2026-08-13 14:14:08	\N
13	1	FIRST_5K	2026-08-13 18:31:32	202
\.


--
-- Data for Name: user_stats; Type: TABLE DATA; Schema: public; Owner: runrush_db_user
--

COPY public.user_stats (id, user_id, total_distance_km, current_streak, best_streak, last_activity_date, updated_at) FROM stdin;
1	1	1129.32	1	7	2026-08-15	2026-08-17 19:43:41
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: runrush_db_user
--

COPY public.users (id, username, pin, display_name, weight, weekly_goal_km, theme, height, last_login, role, status, email, email_weekly_summary, home_city, home_latitude, home_longitude) FROM stdin;
1	Yajat	123456	Yajat	72	15	\N	\N	2026-08-18 17:50:03	user	active	yajats@gmail.com	1	\N	\N	\N
2	haeidvjbn	$2b$12$EiDT8Mah11EhBtGOOsdWv.pYhwRAiu6fYJ4dvWdAAh1TPwgw.nuES	asdfgvbnm	\N	\N	\N	\N	\N	user	active	\N	1	\N	\N	\N
\.


--
-- Name: activity_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: runrush_db_user
--

SELECT pg_catalog.setval('public.activity_logs_id_seq', 22, true);


--
-- Name: admin_notes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: runrush_db_user
--

SELECT pg_catalog.setval('public.admin_notes_id_seq', 1, false);


--
-- Name: badges_id_seq; Type: SEQUENCE SET; Schema: public; Owner: runrush_db_user
--

SELECT pg_catalog.setval('public.badges_id_seq', 1, false);


--
-- Name: edit_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: runrush_db_user
--

SELECT pg_catalog.setval('public.edit_history_id_seq', 1, false);


--
-- Name: friends_id_seq; Type: SEQUENCE SET; Schema: public; Owner: runrush_db_user
--

SELECT pg_catalog.setval('public.friends_id_seq', 1, false);


--
-- Name: runs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: runrush_db_user
--

SELECT pg_catalog.setval('public.runs_id_seq', 273, true);


--
-- Name: user_badges_id_seq; Type: SEQUENCE SET; Schema: public; Owner: runrush_db_user
--

SELECT pg_catalog.setval('public.user_badges_id_seq', 34, true);


--
-- Name: user_stats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: runrush_db_user
--

SELECT pg_catalog.setval('public.user_stats_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: runrush_db_user
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- Name: admin_notes admin_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.admin_notes
    ADD CONSTRAINT admin_notes_pkey PRIMARY KEY (id);


--
-- Name: badges badges_key_key; Type: CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.badges
    ADD CONSTRAINT badges_key_key UNIQUE (key);


--
-- Name: badges badges_pkey; Type: CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.badges
    ADD CONSTRAINT badges_pkey PRIMARY KEY (id);


--
-- Name: edit_history edit_history_pkey; Type: CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.edit_history
    ADD CONSTRAINT edit_history_pkey PRIMARY KEY (id);


--
-- Name: friends friends_follower_id_followed_id_key; Type: CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.friends
    ADD CONSTRAINT friends_follower_id_followed_id_key UNIQUE (follower_id, followed_id);


--
-- Name: friends friends_pkey; Type: CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.friends
    ADD CONSTRAINT friends_pkey PRIMARY KEY (id);


--
-- Name: runs runs_pkey; Type: CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.runs
    ADD CONSTRAINT runs_pkey PRIMARY KEY (id);


--
-- Name: user_badges user_badges_pkey; Type: CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.user_badges
    ADD CONSTRAINT user_badges_pkey PRIMARY KEY (id);


--
-- Name: user_badges user_badges_user_id_badge_key_key; Type: CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.user_badges
    ADD CONSTRAINT user_badges_user_id_badge_key_key UNIQUE (user_id, badge_key);


--
-- Name: user_stats user_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.user_stats
    ADD CONSTRAINT user_stats_pkey PRIMARY KEY (id);


--
-- Name: user_stats user_stats_user_id_key; Type: CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.user_stats
    ADD CONSTRAINT user_stats_user_id_key UNIQUE (user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: activity_logs activity_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: admin_notes admin_notes_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.admin_notes
    ADD CONSTRAINT admin_notes_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.users(id);


--
-- Name: admin_notes admin_notes_target_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.admin_notes
    ADD CONSTRAINT admin_notes_target_user_id_fkey FOREIGN KEY (target_user_id) REFERENCES public.users(id);


--
-- Name: edit_history edit_history_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.edit_history
    ADD CONSTRAINT edit_history_run_id_fkey FOREIGN KEY (run_id) REFERENCES public.runs(id);


--
-- Name: edit_history edit_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.edit_history
    ADD CONSTRAINT edit_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: friends friends_followed_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.friends
    ADD CONSTRAINT friends_followed_id_fkey FOREIGN KEY (followed_id) REFERENCES public.users(id);


--
-- Name: friends friends_follower_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.friends
    ADD CONSTRAINT friends_follower_id_fkey FOREIGN KEY (follower_id) REFERENCES public.users(id);


--
-- Name: runs runs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.runs
    ADD CONSTRAINT runs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_badges user_badges_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.user_badges
    ADD CONSTRAINT user_badges_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_stats user_stats_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: runrush_db_user
--

ALTER TABLE ONLY public.user_stats
    ADD CONSTRAINT user_stats_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO runrush_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO runrush_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO runrush_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO runrush_db_user;


--
-- PostgreSQL database dump complete
--

\unrestrict UNAeJ458TymBiwU5qNn7M0YGnRM6K8gBLaD5hAq6Za9uR4e4hYgOJt0Ox1MA6OR

